#results {
	border-style: solid;
	border-width: 1px;
	border-color: red;
	background-color: yellow;
}
#results li.pass { color: green; }
#results li.fail {
	color: red;
	text-decoration: line-through;
}